.colophon {
  margin: 0;
  padding: .8rem;
  font-size: .8em;
  display: flex;
  color: #9e9d9d;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.4);
  clear: both;
  min-height: 35px;
}